.background{
    height: 2000px;
    background-color: #673b3c;
    background-image: linear-gradient(to right, #673b3c , #181e41);
}

.menus{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubutton{
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Quicksand';
    font-size: 18px;
    margin: 0 30px 0 30px;
}

.profile1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#name {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 100px;
    margin-left: 10%;
    line-height: 1.1;
}

#namedesc {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
}

.profilepic {
    border-radius: 100px 100px 30px;
    margin-right: 15%;
    margin-left: 10%;
    width: auto;
    max-width: 300px;
    height: auto;
    transition: border-radius 0.5s;
}

.profilepic:hover{
    border-radius: 50%;
}

.intro {
    padding: 50px;
    background-color: rgba(235, 132, 89, 0);
    background-image: linear-gradient(to right, rgba(235, 132, 89, 0.3), rgba(234, 100, 94, 0.3));
    border-radius: 20px;
    margin: 0 15%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.introprofilepic {
    border-radius: 20px;
    max-width: 100%;
    height: 400px;
    flex-shrink: 0;
    margin-left: 8%;
    margin-right: 10%;
}

.introdesc {
    flex: 2;
    min-width: 300px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.intro h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.intro p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;
}

.techstack{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 -10px;
    margin-top: 100px;
    height: 100px;
}

.gallery{
    margin: 0 10%;
    margin-top: 100px;
}

.gallery h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.gallery1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* adjust size */
  gap: 20px;
  padding: 40px;
}

.gallery1 img {
  width: 100%;
  aspect-ratio: 1 / 1;        
  object-fit: cover;          
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery1 img:hover {
  transform: scale(1.05);
}
